* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-bottom: 60px; /* reserved space for AIHelper */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
